# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.byte
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.nav
*.out
*.pdf
*.snm
*.synctex*
*.toc
*.xdv
*.xdy

# Editors
.vscode/
*.swp
*~
